---
title: Pixel Club
---


%section.hero
  %header.header
    .header__logo
      %h1
        = image_tag 'logo-pixelClub.png', :alt => 'Pixel Club'

    %nav.nav
      %Ul.main-nav
        %li
          = link_to 'Team', '#team'
        %li
          = link_to 'Clients', '#clients'
        %li
          = link_to 'Contact', '#contact'
  
  .hero__content
    %h1.hero__main-heading 
      %span.hero__main-heading--strong We handle the pixels 
      you handle the business

    %hr

    %h2.hero__sub-heading Making the web a more beautiful place one pixel at a time.


    = link_to 'Join The Club', '#contact', :class => 'btn btn--fixed'

%section.team#team

  %section.team__members
    %h2.team__main-heading Meet The Team
    %ul.members
      %li.person
        .person__name Jeff
        .person__title  Developer
      %li.person
        .person__name Niki
        .person__title Designer
      %li.person
        .person__name Shaun
        .person__title Hybrid


%section.clients#clients


%section.contact#contact
  %section.l-wrapper
    %h2.contact__main-heading Join The Club

    %form.contact__form{:action => 'https://pixel-club-contact.herokuapp.com/', :method => 'post'}
      .contact__form-container
        %input{:type => 'text', :name => 'first_name', :placeholder => 'First Name', :required => true }
        %input{:type => 'text', :name => 'last_name', :placeholder => 'Last Name', :required => true }
        %input{:type => 'text', :name => 'phone', :placeholder => 'Phone Number' }
        %input{:type => 'email', :name => 'email', :placeholder => 'Email', :required => true }
        %input{:type => 'text', :name => 'company', :placeholder => 'Company' }
        %select{:name => 'budget'}
          %option{:value => '0'} Budget
          %option{:value => '0 - $2500'} Up to $2500
          %option{:value => '$2500 - $5000'} Up to $5000
          %option{:value => '$5000 - $1000'} Up to $1000
          %option{:value => '$1000+'} $10,000 and Up

        %textarea{:name => 'message', :placeholder => 'Message'}
      %button.btn.btn__contact Submit

%footer.footer
  %section.l-wrapper
    %p.footer__copy
      &copy; 2015 Pixel Club

    %ul.footer-nav.main-nav
      %li
        = link_to 'Team', '#team'
      %li
        = link_to 'Clients', '#clients'
      %li
        = link_to 'Contact', '#contact'

